name: Test tap-transifex

on:
  push:
    branches: [main]
    paths:
      - tap_transifex/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml
      - .github/workflows/requirements.txt
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - tap_transifex/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml
      - .github/workflows/requirements.txt
  workflow_dispatch:
  schedule:
  # Run weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/requirements.txt

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.12"
        - "3.13"
        - "3.14"

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Install uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

    - name: Run tests
      env:
        TAP_TRANSIFEX_TOKEN: ${{ secrets.TAP_TRANSIFEX_TOKEN }}
        TAP_TRANSIFEX_START_DATE: ${{ secrets.TAP_TRANSIFEX_START_DATE }}
      run: >
        uvx
        --with tox-gh
        --with tox-uv
        tox

  pre-commit:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: "1"
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

    - run: uvx prek run --show-diff-on-failure --all-files
