name: Test tap-transifex

on:
  push:
    branches: [main]
    paths:
      - tap_transifex/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml
      - .github/workflows/requirements.txt
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - tap_transifex/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml
      - .github/workflows/requirements.txt
  workflow_dispatch:
  schedule:
  # Run weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/requirements.txt

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.12"
        - "3.13"
        - "3.14"

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

    - name: Run tests
      env:
        TAP_TRANSIFEX_TOKEN: ${{ secrets.TAP_TRANSIFEX_TOKEN }}
        TAP_TRANSIFEX_START_DATE: ${{ secrets.TAP_TRANSIFEX_START_DATE }}
      run: >
        uvx
        --with tox-gh
        --with tox-uv
        tox

  pre-commit:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: "1"
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

    - run: uvx prek run --show-diff-on-failure --all-files
